<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aison.mapper.MInfoMapper">

    <!-- 查找m_info信息 -->
    <select id="findAllUser" resultType="com.aison.entity.MInfo">
       select * from m_info
    </select>

    <!-- 查找m_info信息 -->
    <select id="findUnionQuery" resultMap="unionQuery">
       select m.m_oid,m.m_name,m.remark ,i.oid,i.name,i.level  from m_info m
       left join m_info_item i on m.m_oid= i.r_oid
    </select>

    <resultMap id="unionQuery" type="com.aison.dto.MInfoUnionQuery">
        <id property="mOid" column="m_oid"></id>
        <result property="mName" column="m_name"></result>
        <result property="remark" column="remark"></result>
        <result property="oid" column="oid"></result>
        <result property="name" column="name"></result>
        <result property="level" column="level"></result>
    </resultMap>

    <!-- 一对多，第一种方式 -->
<!--    <select id="findUnionAll" resultMap="BaseResultMap">-->
<!--       select m.m_oid,m.m_name,m.remark ,i.oid,i.name,i.level  from m_info m-->
<!--       left join m_info_item i on m.m_oid= i.r_oid-->
<!--    </select>-->
<!--    <resultMap id="BaseResultMap" type="com.aison.dto.UserDTO.MInfoDto">-->
<!--        <id property="mOid" column="m_oid"></id>-->
<!--        <result property="mName" column="m_name"></result>-->
<!--        <result property="mType" column="m_type"></result>-->
<!--        <result property="remark" column="remark"></result>-->
<!--        <collection property="children" ofType="com.aison.dto.UserDTO.MInfoItemDto">-->
<!--            <id property="oid" column="oid"></id>-->
<!--            <result property="name" column="name"></result>-->
<!--            <result property="level" column="level"></result>-->
<!--            <result property="roid" column="r_oid"></result>-->
<!--        </collection>-->
<!--    </resultMap>-->

    <!-- 一对多，第一种方式 -->
    <select id="findUnionAll" resultMap="BaseResultMap">
       select m.m_oid,m.m_name,m.remark ,i.oid,i.name,i.level ,
       v.oid as void,v.v_name as vName ,v.r_oid as roid from m_info m
       left join m_info_item i on m.m_oid= i.r_oid
       left join m_info_var v on m.m_oid=v.r_oid
    </select>
    <resultMap id="BaseResultMap" type="com.aison.dto.MInfoDto">
        <id property="mOid" column="m_oid"></id>
        <result property="mName" column="m_name"></result>
        <result property="mType" column="m_type"></result>
        <result property="remark" column="remark"></result>
        <collection property="children" ofType="com.aison.dto.MInfoItemDto">
            <id property="oid" column="oid"></id>
            <result property="name" column="name"></result>
            <result property="level" column="level"></result>
            <result property="roid" column="r_oid"></result>
        </collection>
        <collection property="vars" ofType="com.aison.dto.MInfoVarDto">
            <id property="vOid" column="vOid"></id>
            <result property="vName" column="vName"></result>
            <result property="roid" column="roid"></result>
        </collection>
    </resultMap>
</mapper>