<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aison.mapper.MInfoMapper">

    <!-- 查找m_info信息 -->
    <select id="findAllUser" resultType="com.aison.entity.MInfo">
       select * from m_info
    </select>

    <!-- 查找m_info信息 -->
    <select id="findUnionQuery" resultMap="unionQuery">
       select m.m_oid,m.m_name,m.remark ,i.oid,i.name,i.level  from m_info m
       left join m_info_item i on m.m_oid= i.r_oid
    </select>

    <resultMap id="unionQuery" type="com.aison.dto.MInfoUnionQuery">
        <id property="mOid" column="m_oid"></id>
        <result property="mName" column="m_name"></result>
        <result property="remark" column="remark"></result>
        <result property="oid" column="oid"></result>
        <result property="name" column="name"></result>
        <result property="level" column="level"></result>
    </resultMap>
</mapper>