<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aison.mapper.TMenuMapper">

    <!-- 根据roleId查询菜单 -->
    <select id="getListMenuByRoleId" resultType="com.aison.entity.TMenu">
        select distinct a.*
        from t_menu a left join t_role_menu b on a.menu_id=b.menu_id
        <where>
            a.del_flag=0
            <if test="roleIds != null">
                and b.role_id in
                <foreach collection="roleIds" index="index" item="roleId" open="(" separator=","
                         close=")">
                    #{roleId}
                </foreach>
            </if>

        </where>
    </select>

    <!--    <resultMap id="BaseResultMap" type="com.aison.vo.TMenuRoleVO">-->
    <!--        <result property="roleId" column="role_id"></result>-->
    <!--        <result property="menuId" column="menu_id"></result>-->
    <!--        <result property="menuName" column="menu_name"></result>-->
    <!--        <result property="parentId" column="parent_id"></result>-->
    <!--        <result property="path" column="path"></result>-->
    <!--        <result property="icon" column="icon"></result>-->
    <!--        <result property="sort" column="sort"></result>-->
    <!--        <result property="type" column="type"></result>-->
    <!--    </resultMap>-->

    <resultMap id="BaseMenuMap" type="com.aison.entity.TMenu">
        <result property="menuId" column="menuId"></result>
        <result property="menuName" column="menuName"></result>
        <result property="parentId" column="parentId"></result>
        <result property="path" column="path"></result>
        <result property="icon" column="icon"></result>
        <result property="sort" column="sort"></result>
        <result property="type" column="type"></result>
        <result property="createTime" column="createTime"></result>
        <result property="creator" column="creator"></result>
        <result property="updateTime" column="updateTime"></result>
        <result property="updator" column="updator"></result>
    </resultMap>

    <!-- 根据path查询菜单 -->
    <select id="findAllRoleNameByPath" resultType="java.lang.String">
        select distinct b.role_id
        from t_menu a left join t_role_menu b on a.menu_id=b.menu_id
        <where>
            del_flag=0
            <if test="path != null">
                and a.path= #{path}
            </if>
        </where>
    </select>

    <resultMap id="BaseMenuWithRole" type="com.aison.entity.TMenu" extends="BaseMenuMap">
        <collection property="roleList" ofType="com.aison.entity.TRole">
            <result property="roleId" column="roleId"></result>
            <result property="roleName" column="roleName"></result>
            <result property="roleCode" column="roleCode"></result>
            <result property="creator" column="creator"></result>
            <result property="createTime" column="createTime"></result>
            <result property="updator" column="updator"></result>
            <result property="updateTime" column="updateTime"></result>
            <result property="delFlag" column="delFlag"></result>
            <result property="creator" column="creator"></result>
        </collection>
    </resultMap>
    <select id="getMenuWithRole" resultMap="BaseMenuWithRole">
        select distinct a.*,
        t.role_id as roleId,
        t.role_name as roleName,
        t.role_code as roleCode,
        t.creator as creator,
        t.create_time as createTime,
        t.updator as updator,
        t.update_time as updateTime,
        t.del_flag as delFlag
        from t_menu a left join t_role_menu b on a.menu_id=b.menu_id
        left join t_role t on t.role_id=b.role_id
        <where>
            a.del_flag=0 and a.enable=true
            <if test="roleIds != null">
                and b.role_id in
                <foreach collection="roleIds" index="index" item="roleId" open="(" separator=","
                         close=")">
                    #{roleId}
                </foreach>
            </if>
        </where>
    </select>
</mapper>