<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aison.mapper.TMenuMapper">

    <!-- 根据roleId查询菜单 -->
    <select id="getListMenuByRoleId" resultType="com.aison.entity.TMenu">
        select distinct a.*
        from t_menu a left join t_role_menu b on a.menu_id=b.menu_id
        <where>
            a.del_flag=0
            <if test="roleIds != null">
                and b.role_id in
                <foreach collection="roleIds" index="index" item="roleId" open="(" separator=","
                         close=")">
                    #{roleId}
                </foreach>
            </if>

        </where>
    </select>

    <!--    <resultMap id="BaseResultMap" type="com.aison.vo.TMenuRoleVO">-->
    <!--        <result property="roleId" column="role_id"></result>-->
    <!--        <result property="menuId" column="menu_id"></result>-->
    <!--        <result property="menuName" column="menu_name"></result>-->
    <!--        <result property="parentId" column="parent_id"></result>-->
    <!--        <result property="path" column="path"></result>-->
    <!--        <result property="icon" column="icon"></result>-->
    <!--        <result property="sort" column="sort"></result>-->
    <!--        <result property="type" column="type"></result>-->
    <!--    </resultMap>-->

    <resultMap id="BaseMenuMap" type="com.aison.entity.TMenu">
        <result property="menuId" column="menuId"></result>
        <result property="menuName" column="menuName"></result>
        <result property="parentId" column="parentId"></result>
        <result property="path" column="path"></result>
        <result property="icon" column="icon"></result>
        <result property="sort" column="sort"></result>
        <result property="type" column="type"></result>
        <result property="createTime" column="createTime"></result>
        <result property="creator" column="creator"></result>
        <result property="updateTime" column="updateTime"></result>
        <result property="updator" column="updator"></result>
    </resultMap>
    <resultMap id="MenuList" type="com.aison.entity.TMenu" extends="BaseMenuMap">
        <collection property="children" ofType="com.aison.entity.TMenu">
            <result property="menuId" column="menuId2"></result>
            <result property="menuName" column="menuName2"></result>
            <result property="parentId" column="parentId2"></result>
            <result property="path" column="path2"></result>
            <result property="icon" column="icon2"></result>
            <result property="sort" column="sort2"></result>
            <result property="type" column="type2"></result>
            <result property="createTime" column="createTime2"></result>
            <result property="creator" column="creator2"></result>
            <result property="updateTime" column="updateTime2"></result>
            <result property="updator" column="updator2"></result>
        </collection>
    </resultMap>
    <!-- 根据path查询菜单 -->
    <select id="findAllRoleNameByPath" resultType="java.lang.String">
        select distinct b.role_id
        from t_menu a left join t_role_menu b on a.menu_id=b.menu_id
        <where>
            del_flag=0
            <if test="path != null">
                and a.path= #{path}
            </if>
        </where>
    </select>
    <!-- 根据用户Id获取菜单   -->
    <select id="getMenuListByUserId" resultMap="MenuList">
        SELECT DISTINCT
        m1.*,
        m2.menu_id AS menuId2,
        m2.path as path2,
        m2.menu_name as menuName2,
        m2.icon as icon2,
        m2.enable as enable2,
        m2.sort as sort2,
        m2.type as type2,
        m2.parent_id as parentId2,
        m2.del_flag as delFlag2,
        m2.create_time as createTime2,
        m2.creator as creator2,
        m2.update_time as updateTime2,
        m2.updator as updator2
    FROM
        t_menu m1,
        t_menu m2,
        t_user_role ur,
        t_role_menu mr
    WHERE
        m1.menu_id = m2.parent_id
        AND m2.menu_id = mr.menu_id
        AND mr.role_id = ur.role_id
        and m2.enable=true
        and m2.del_flag= false
        AND ur.user_id = #{userId}
   </select>
</mapper>