<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aison.mapper.TRoleMapper">

    <!-- 查找角色信息 -->
    <select id="listRoleByUserId" resultType="com.aison.entity.TRole">
       select r.* from t_role r, t_user_role ur where r.role_id=ur.role_id and ur.user_id =#{userId} order by r.role_id
    </select>

<!--    <resultMap id="BaseResultMap" type="com.aison.entity.TRole">-->
<!--        <result property="roleId" column="role_id"></result>-->
<!--        <result property="roleName" column="role_name"></result>-->
<!--        <result property="delFlag" column="del_flag"></result>-->
<!--        <result property="creator" column="creator"></result>-->
<!--        <result property="createTime" column="createTime"></result>-->
<!--        <result property="updator" column="updator"></result>-->
<!--        <result property="updateTime" column="updateTime"></result>-->
<!--    </resultMap>-->

</mapper>